<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nyist.gmall.gmall_publisher.mapper.DauMapper">

    <!--public long getDauTotal(String date);-->
    <select id="getDauTotal" resultType="java.lang.Long">
        select
            count(mid) ct
        from
            gmall_dau
        where
            log_date = #{date}
    </select>

    <!--public List<DauHour> getDauHourTotal(String date);-->
    <select id="getDauHourTotal" resultType="com.nyist.gmall.gmall_publisher.bean.DauHour">
        select
            log_hour,
            count(mid) ct
        from
            gmall_dau
        where
            log_date = #{date}
        group by
            log_hour
    </select>


</mapper>